<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinhconghien.getitapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon" />

        <activity android:name=".Screens.Comment.CommentLapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Screens.Invoice.CommentActivity" />
        <activity
            android:name=".Screens.Message.MessageContent_Activity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Account.AboutUs_Activity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".Screens.Account.EditAccount_Activity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Invoice.InvoiceAcceptedDetail_Activity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Cart.PaymentActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Invoice.InvoiceWatingDetail_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ListLapDetail.ListLapDetailActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ListLaptop.ListLaptopActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Cart.CartActivity"
            android:configChanges="keyboardHidden"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.GetBackPassword.GetBackPassActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Register.RegisterActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Login.LoginActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>